<h3>My Cookbook is empty</h3>

<div class="buttons">
  <div class="button">
    <%= link_to "Add a Category", new_user_category_path %>
  </div>

  <div class="button">
    <%= link_to "Add a Recipe", new_recipe_path %>
  </div>
</div>
