<div class="welcome">
  <h2>Hello </h2>
</div>


<div class="buttons">
  <div class="button">
    <%= link_to "My Cookbook", "/categories" %>
  </div>

  <div class="button">
    <%= link_to "My Shopping List", "/shopping_lists"%>
  </div>

  <div class="button">
    <%= link_to "My Meal Plan", "/meal_planners"%>
  </div>
  
  <div class="button">
    <%= link_to "Go back to homepage", root_path %>
  </div>
</div>
