<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright &copy; 2020, MealzZap. All rights Reserved
  </div>
  <div class="footer-copyright">
    This amazing site is made with <i class="fas fa-heart"></i> by some Wagonners at their homes
  </div>
</div>