<div class="container">
  <h1><%= @meal_planner.name %></h1>
  <% @recipes.each do |recipe| %>
    <div class="plan_show_cards">
      <h2><%= recipe.tags %></h2>
      <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
      <p><%= recipe.description.html_safe %></p>
    </div>
  <% end %>
</div>
