<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Welcome to MealzZap</p>

<%= link_to "All recipes", recipes_path %>
<%= link_to "All categories", categories_path %>
<%= link_to "Meal_planner", meal_planners_path %>
