<div class="container">
  <h1>Shopping List</h1>

  <h3>List of Items</h3>
    <ul>
    <% @doses.each do |dose| %>
      <li><h4> <%= dose.quantity %> <%= dose.ingredient.name %></h4></li>
    <% end %>
    </ul>
</div>
  