<div class="container">
  <h1>Shopping List</h1>

  <h3>List of Items</h3>
    <ul>
      <% @shopping_list.doses_shopping_lists.each do |dose_sl| %>
        <div class="card-shopping-list">
          <li>
            <div class="ok">
              <div class="ingredients-doses">
                <input type="checkbox">
                <span> <%= dose_sl.dose.quantity %> <%= dose_sl.dose.ingredient.name %></span>
              </div>
                <%= button_to 'Delete', doses_shopping_list_path(dose_sl), method: :delete %>
            </div>
          </li>
        </div>
      <% end %>
    </ul>
</div>
  