.plan_show_cards {
  background-color: white;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  h2 {
    color: #01676D;
  }
  h3 {
    text-decoration: none;
  }
}
