<h1>Categories</h1>
  <div class="cards">
    <% @categories.each do |category| %>
      <%= link_to category_path(category),class: "links" do %>
        <div class="card-recipe">
          <%# <%= cl_image_tag recipe.photo.key, height: 400, width: 300, crop: :fill if recipe.photo.attached?%> %>
          <div class="card-recipe-infos">
            <div>
              <h2><%= category.name %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Go back to homepage", root_path %>


