<h2>Review form</h2>
<div class="container">
  <div class="form">
    <%= simple_form_for(recipe) do |f| %>
      <div id="name">
        <%= f.label :name %>
        <div id="input">
          <%= f.text_field :text %>
        </div>
     <% end %>






